* {
  margin: none;
  padding: none;
}

body {
  height: 100%;
  font-family: system-ui;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-size: 20px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  background-color: White;
  color: black;
  padding: 8px 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 10px;
}

main {
  background-color: #2c3e50;
  height: auto;
  width: 280px;
  padding: 0px 10px;
  box-sizing: border-box;
  padding: 30px 30px;
  border-radius: 15px;
  border: 3px solid black;
}

.inputbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 40px;
  width: 50px;
  background-color: white;
  font-size: 20px;
  border-radius: 8px;
}

button:active {
  border: 3px solid black;
  font-weight: 600;
}

.double {
  width: 106px;
}

.rows {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

.symb,
#backsp,
#percent,
#enter {
  background-color: lightgray;
}
